@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.pm {
    font-family: "Permanent Marker", cursive;
}
*{
    scroll-behavior: smooth;
}
section{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 1.5rem;
}

:root {
    --lightMode-text-color: #313131;
    --lightMode-light-text-color: #b2b2b2;
    --secondaray-color: #fb8500;
}

.defaultButton {
    padding: 10px 20px;
    border: unset;
    border-radius: 10px;
    color: #ffffff;
    z-index: 1;
    background: var(--secondaray-color);
    position: relative;
    font-weight: 700;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.defaultButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: #404040;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.defaultButton:hover {
    color: #e8e8e8;
}

.defaultButton:hover::before {
    width: 100%;
}

.imageBloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeImage 3s ease-out forwards;
}

.homeImage {
    background-image: url(../public/images/myImage.jpg);
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
    order: 1;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: profile_animate 8s ease-in-out infinite 1s;
    transition: 0.5s ease;
}
.homeImage:hover{
    opacity: 0.8;
}
section .sectionTitle{
    border-bottom: 3px solid var(--lightMode-light-text-color);
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.terminal{
    width: 90%;
    min-height: 550px;
    max-height: 550px;
    background: #1f1f1f;
    margin: 2rem auto;
    font-family: "Fira Code", "Courier New", Courier, monospace;
    font-weight: 1000;
    overflow-y: auto;
}
.terminalInputContainer .terminalInput{
    width: 100%;
    outline: none;
    border: none;
}
@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.underShape {
    width: 435px;
    height: 435px;
    position: absolute;
    background: var(--lightMode-light-text-color);
    z-index: -1;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: profile_animate 8s ease-in-out infinite 1s;
    animation-delay: 3s;
}
.aboutMeContent h1 {
    animation: fadeInUp 2s ease-out forwards;
}

.aboutMeContent p {
    animation: fadeInUp 3s ease-out forwards;
}

.aboutMeContent button {
    animation: fadeInUp 4s ease-out forwards;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeImage {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1050px) {
    .homeImage {
        width: 350px;
        height: 350px;
    }
    .underShape {
        width: 375px;
        height: 375px;
    }
    .aboutMeContent h1{
        font-size: 3rem;
    }
    .aboutMeContent p{
        font-size: 1rem;
    }
    .aboutMeSection{
        flex-direction: column;
    }
    .aboutMeSection img{
        width: 300px;
    }
    .aboutSection .aboutMeContent{
        width: 100%;
    }
}
@media screen and (max-width: 750px){
    .homePageContainer{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }
    .homeImage {
        width: 250px;
        height: 250px;
    }
    .underShape {
        width: 275px;
        height: 275px;
    }
    .terminal{
        width: 95%;
    }
    section .sectionTitle{
        width: 50%;
    }
}